
.two-column > .column {
    width: 49.6%;
    display: inline-block;
    vertical-align: top;
}

.single-column > div {
    width: 100%;
}

.single-column img {
    width: 100%;
}

.two-column img {
    width: 100%;
}

.navigation {
    display: block;
    margin: 1em auto 1em auto;
    width: 30%

}

main {
    width: 70%;
    padding: 5em 10% 10% 10%;
    margin: 0 auto 0 auto;
    background-color: white;
    max-width: 800px;
    box-shadow: 0 0 7px black;
}

body {
    background-color: #87ceeb;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
    padding: 3em 0;
}

h1 {
    font-size: 2.5em;
    /*font-weight: 900;*/
    margin-bottom: 1.25em;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 1em;

}




h3 {
    z-index: 1;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.75em;
}

p, .description {
    background-color: #f7f7f7;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    margin-bottom: 5px;
}

section {
    position: relative;
    padding-bottom: 2.5em;
}

section:not(:last-child) {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 2.5em;

}

nav a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    color: #444;
    border-radius: .3em;
    transition: all .3s ease-out;
}

nav a:hover {
    background: #eee;
}

nav a:before {
    outline: none;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol ol {
    margin: 0 0 0 2em;
}

ul li {

    margin-bottom: 0.5em;
}

ul a {
    text-decoration: none;
    position: relative;
    color: black;
}

ul a:visited {
    color: black;
}

ul a:after {
    content: "";
    background-color: rgba(100, 100, 100, 0.1);
    left: -5px;
    bottom: 0;
    position: absolute;
    border-radius: 3px;
    height: 100%;
}

@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: calc(100% + 12px);
    }
}

ul a:hover:after {
    animation: slide 0.3s forwards;
}

ul a:before {
    position: absolute;
    width: 1em;
    height: 1em;
    left: -1.5em;
    background-color: #87ceeb;
    border-radius: 1em;
    content: "";
    line-height: 1em;
    text-align: center;
    top: 8%;
}

ul {
    list-style: none;
}

figcaption {
    font-style: italic;
    font-weight: 200;
    font-size: 1em;
}

figure {
    margin-bottom: 1em;
}

p {
    line-height: 115%;
}

.step:before {
    position: absolute;
    left: -2.3em;
    height: 2em;
    width: 2em;
    background-color: lightgreen;
    text-align: center;
    border-radius: 2em;
    font-weight: bold;
    line-height: 2em;
}

.step.step1:before {
    content: "1";

}

.step.step2:before {
    content: "2";

}

.step.step3:before {
    content: "3";

}

.step.step4:before {
    content: "4";

}

.step.step5:before {
    content: "5";

}

.step.step6:before {
    content: "6";

}

.step.step7:before {
    content: "7";

}

.step {
    position: relative;
}
img.small-image-left{
    height: 50%;
    width: auto;
    float: right;

}
img.small-image-right{
    height: 50%;
    width: auto;
    float: left;

}

@media (max-width: 1000px){
    .two-column .column{
        width: 100%;
    }
    h1{
        font-size: 2em;
    }
}
code{
    font-family: "Courier New", Courier, monospace;
    background-color: rgba(116, 182, 206, 0.1);
    color: rgb(252, 73, 0);
    font-weight: bold;
}
code.codeblock{
    display: block;
    padding: 0.25em 0;
}
code.indent1{
    padding-left: 2em;
}
code.indent2{
    padding-left: 4em;
}
code.indent3{
    padding-left: 6em;
}
code.indent4{
    padding-left: 8em;
}
code.comment{
    color: darkgray;
}
#database p{
    margin: inherit;
    background-color: inherit;
}
em{
    font-style: italic;
    color: grey;
}
code > a{
    text-decoration: none;
    color: #4286f4;
}
p code:nth-child(odd){
    background-color: rgba(138, 215, 239, 0.3);
}
h4{
    font-size: 1.25em;
}